{
  "FIREBASE_PROJECT_ID": "oucrc-qbox",
  "FIREBASE_CLIENT_EMAIL": "firebase-adminsdk-XXXXX@oucrc-qbox.iam.gserviceaccount.com",
  "FIREBASE_PRIVATE_KEY": "-----BEGIN PRIVATE KEY-----\nXXXXXXXXX",
  "FIREBASE_API_KEY": "",
  "FIREBASE_APP_ID": "",
  "FIREBASE_AUTH_DOMAIN": "",
  "SIGNIN_ALLOWED_EMAILS": "XXX@gmail.com,",
  "GOOGLE_AUTH_CLIENT_ID": "XXXXXXX.apps.googleusercontent.com",
  "GOOGLE_AUTH_CLIENT_SECRET": "XXXXXXX"
}
